include LICENSE
include README.md
include CONTRIBUTING.md
include pyproject.toml

# Recursively include data files
recursive-include src/fetchez/data *.geojson *.json

# Exclude junk
global-exclude __pycache__
global-exclude *.py[co]

# Explicitly exclude the cookbook/examples
prune examples
prune workflows