name: Documentation

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'fetchez/**'  # Rebuild if code changes (for autodoc)
      - '.github/workflows/**'  # Trigger when you edit this workflow!
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'fetchez/**'  # Rebuild if code changes (for autodoc)
      - '.github/workflows/**'  # Trigger when you edit this workflow!

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: |
          uv sync --group docs

      - name: Build Sphinx
        run: |
          cd docs
          uv run make html

      - name: Upload site artifact
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs/build/html


  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
